spring.application.name=NotificationMicroservice
server.port=8383

spring.activemq.broker-url=tcp://localhost:61616
spring.activemq.user=YOUR_ACTIVE_MQ_USERNAME_HERE
spring.activemq.password=YOUR_ACTIVE_MQ_PASSWORD_HERE
spring.activemq.packages.trust-all=true
spring.jms.pub-sub-domain=false

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL_HERE
spring.mail.password=YOUR_APP_PASSWORD_HERE
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.connectiontimeout=50000
spring.mail.properties.mail.smtp.timeout=50000
spring.mail.properties.mail.smtp.writetimeout=50000
spring.mail.properties.mail.smtp.from=

pdf.save.dir=saved_pdfs